@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  color: var(--text-primary);
  font-size: 1.05rem;
}

:root {
  --bg-primary: #1e1e1e;
  --bg-secondary: #252526;
  --text-bright: #f2f2f2;
  --text-primary: #cccccc;
  --text-secondary: #969696;
  --accent: #be2a2a;
  --accent-secondary: #a12424;
  --accent-alt: #2aa1be;
  --border: #3e3e42;
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
  font-family: "Nunito", sans-serif;
}

.sidebar {
  display: flex;
  padding: 15px 20px;
  flex-direction: column;
  gap: 20px;
  grid-row: 1 / 3;
  background-color: var(--accent);
}

#projectTitle,
.sidelogo,
.fa-clipboard-list {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--text-bright);
}

#projectsHeader {
  font-size: 1.1rem;
  color: var(--text-bright);
}

.sidemain {
  margin-bottom: 20px;
}

.sidelogo,
.sidebutton,
.sidebutton i {
  color: var(--text-bright);
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 4px;
  gap: 15px;
}

.sidebutton:hover,
img:hover {
  background-color: var(--accent-secondary);
  cursor: pointer;
}

.hidden {
  display: none !important;
}

#newProjectForm {
  margin: 8px 0;
  display: flex;
  gap: 8px;
  align-items: center;
}

#newProjTitle {
  flex: 1;
  max-width: calc(100% - 40px);
  border: 0;
  border-radius: 8px;
  color: var(--text-primary);
  background-color: var(--accent-secondary);
  padding: 5px;
  box-sizing: border-box;
}

#newProjectForm button,
#newProjectForm i {
  background: none;
  cursor: pointer;
  border: 0;
}

#newTodo,
#newTodo i {
  color: var(--text-bright);
}

#newTodo {
  padding: 5px 10px;
  border-radius: 4px;
  margin-bottom: 5px;
}

#newTodo:hover {
  cursor: pointer;
  background-color: var(--bg-secondary);
}

#newTodoForm {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#newTodoForm input,
#newTodoForm select,
#cancelTodo,
#addTodo, #editTodoForm input, #editTodoForm select, #cancelEditTodo, #saveTodo {
  background-color: var(--bg-secondary);
  border: 0;
  border-radius: 8px;
  padding: 5px;
  box-sizing: border-box;
}

#addTodo, #saveTodo {
  background-color: var(--accent);
}

.todoFormLeft {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.todoFormRight {
  display: grid;
  grid-template-rows: 3fr 1fr;
  gap: 8px;
}

.todoFormButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

#cancelTodo,
#addTodo, #cancelEditTodo, #saveTodo {
  cursor: pointer;
}

#editTodoForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#newProjTitle::placeholder {
  color: var(--text-primary);
}

input[type="checkbox"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: var(--bg-primary);
  border-radius: 100%;
  border: 2px solid var(--text-bright);
  cursor: pointer;
  position: relative;
  margin-top: 3px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  background-color: var(--bg-primary);
}

.todoDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}

.wrapper {
  border-top: 1px solid var(--border);
  padding-top: 10px;
  margin: 10px 0;
}

.checkedComplete div {
  text-decoration: line-through;
}

.todoContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  width: 30vw;
}

.todoName {
  font-size: 1.1rem;
  font-weight: bolder;
  color: var(--text-bright);
}

.todoDescription {
  font-size: 0.95rem;
}

.todoLabels {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.label {
  font-size: 0.75rem;
  color: var(--accent);
}

.label i {
  font-size: inherit;
}

.todoIcons {
  opacity: 0;
  display: flex;
  gap: 10px;
}

.todoDiv:hover .todoIcons {
  opacity: 1;
}

.fa-edit:hover,
.fa-trash:hover {
  filter: brightness(75%);
  cursor: pointer;
}

@media (max-width: 1000px) {
  .cornerbar i:not(:last-child) {
    display: none;
  }
}
